@media only screen and (min-width: 600px){

    :root{
      /* Night color */
      --nightBackground: rgb(27, 38, 44);
      --nightFont: #FFFF;

      --hooverNightFont: #3282B8;
      --nightFillSvg: #BBE1FA;
      --nightGitlabColor: #ff5e00;

      /* Day color */
      --dayBackground: rgb(242, 248, 252);
      --dayBackgroundLowOpacity: rgba(242, 248, 252, 0.9);
      --dayFont: #333333;

      --hooverDayFont: #706c61;
      --dayFillSvg: #3D3D3F;
      --dayGitlabColor: #ff5e00;

      --background: var(--dayBackground);
      --font: var(--dayFont);
      --hooverFont: var(--hooverDayFont);
      --fillSvg: var(--dayFillSvg);
      --gitlabColor: var(--dayGitlabColor)
    }

    /* Animation */
    /* SVG dasharray */

    .jobs svg.day{
      fill: var(--fillSvg);
      stroke-width: 4;
      stroke: var(--dayBackground);
    }

    .jobs svg.anime{
      fill: var(--dayBackground);
      stroke-width: 4;
      stroke: var(--fillSvg);
    }

    /* Delay animation */

    a, svg{
      transition: all 0.5s;
      -moz-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
    }

    section, p, body{
      transition: all 0.3s;
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
    }

    /* General setup */

    body {
        background-color: var(--background);
        color: var(--font);
        font-family: 'Poiret One', cursive;
        margin: 0;
    }

    p, h2, h3{
      -webkit-text-stroke: 0.2px;
      }

    h3{
      font-size: 25px;
    }


    p{
      margin: 0;
      padding: 0;
      font-weight: bold;
      font-size: 18px;
    }

    a {
      color: var(--font);
    }

    a:hover{
      color: var(--hooverFont);
    }


    /* Logo style */
    .logo {
      width: 100vw;
      height: 100vh;
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      margin: 6vh auto auto auto;
      z-index: -1;
    }

    .logo > svg{
      margin: auto;
      width: 60vw;
      height: 60vh;
      opacity: 0.1;
    }

    /* content style */
    .content{
      width: 100%;
    }

    .content > .jobs{

      width: 100%;

      display: inline-flex;
      flex-wrap: wrap;

    }

    /* Title size (Etienne Merenda) */
    .content h1{
      text-align: center;
      width: 100%;
      font-size: 60px;
      font-weight: 900;
      margin: auto;
      padding-top: 10vh;
    }

    /* Setup div style (contains SVG and Title) */
    .content > .jobs > div {
      width: 100%;
      display: inline-flex;
      /* flex-direction: column; */
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-weight: 900;
      margin: auto;
      margin-top: 8vh;
    }

    /* margin-bottom last element of jobs */
    .content > .jobs > div:nth-last-child(1){
      margin-bottom: 8vh;
    }

    /* Reduce font-size of h2 tag */
    .content > .jobs > div > h2 {
      font-size: 30px;
    }

    /* Setup svg position */
    .content > .jobs > div > svg{
      position: absolute;
      width: 130px;
    }

    /* Put left and right distance of svg */
    .content > .jobs > div:nth-child(odd) > svg{
      left: 27vw;
    }

    .content > .jobs > div:nth-child(even) > svg{
      right:  27vw;
    }

}

@media only screen and (max-width: 1600px) {
  /* Put left and right distance of svg */
  .data > .content > div > .svg_left{
    left: 25vw;
  }

  .data > .content > div > .svg_right{
    right: 25vw;
  }
}
@media only screen and (max-width: 1400px) {
  /* Put left and right distance of svg */
  .data > .content > div > .svg_left{
    left: 23vw;
  }

  .data > .content > div > .svg_right{
    right: 23vw;
  }
}
@media only screen and (max-width: 1200px) {
  /* Put left and right distance of svg */
  .data > .content > div > .svg_left{
    left: 16vw;
  }

  .data > .content > div > .svg_right{
    right: 16vw;
  }
}
@media only screen and (max-width: 1000px) {
  /* Put left and right distance of svg */
  .data > .content > div > .svg_left{
    left: 8vw;
  }

  .data > .content > div > .svg_right{
    right: 8vw;
  }
}
@media only screen and (max-width: 800px) {
  /* Put left and right distance of svg */
  .data > .content > div > .svg_left{
    left: 4vw;
  }

  .data > .content > div > .svg_right{
    right: 4vw;
  }
}

/* Improve size for firefox website */
@-moz-document url-prefix() {

  p, h2{
    /* Improve width of mozilla text */
    -webkit-text-stroke: 0.9px;
  }

  svg, p, h1, h2, nav, body, section, div{
    transition-duration: 0.3s;
  }
}
