@media only screen and (min-width: 600px){

    .toggle > svg{
      width: 50px;
      height: 20px;
      fill: var(--fillSvg);
    }

    .toggle > p{
      margin-left: 5px;
    }

    .toggle{
      display: inline-flex;
      align-items: center;
      flex-direction: row-reverse;

      margin-top: 10px;

      margin-left: 1vw;
      font-size: 30px;
    }
}
