{% extends 'base.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/home.css' %}">
{% endblock css %}
  

{% block head_decription %}
  <meta name="description" content="Site de présentation d'Etienne Merenda,
  developpeur Python & Django, touche à tout. Vous y trouverez des informations
  relatives à mes projets et à mes compétences. Faites comme chez vous !">
{% endblock head_decription %}
  
{% block body %}
{% include 'includes/background.html' %}
  <section class="jobs">
    <h1 class="name">Etienne Merenda</h1>
    <div class=python>
      <h2 class="skill">Développeur Python Junior</h2>
    </div>
    <div class="web">
      <h2 class="skill">Développeur Web Junior</h2>
    </div>
    <div class="modeling">
      <h2 class="skill">Modélisation 3D</h2>
    </div>
    <div class="print">
      <h2 class="skill">Impression 3D</h2>
    </div>
  </section>
</div>
<script src="{% static 'assets/js/home/home.js' %}"></script>
{% endblock body %}

{% block footer %}
  {% include 'includes/footer.html' %}
{% endblock footer %}
  

